
database_url = "https://example.com/files/GeoLite2-Country-CSV.zip"

output_dir = "/etc/nginx/include"

generate_separate_ipv4_and_ipv6_configuration_files = false

mark_tor_exit_nodes_with_T1_country_code = true

nginx_pid_file = "/run/nginx.pid"

reload_nginx = true

